@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --font-family: "Mo`ntserrat", sans-serif;
  --logo-font: "Montserrat Alternates", sans-serif;
  --logo-color: #0066ff;
  --nav-Bg: #fff;
  --bg-color: #f7f7f7;
}
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  position: relative;
}
#nav-section {
  width: 100%;
  background-color: var(--nav-Bg);
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 99;
    box-shadow: 0 0 1rem #00000034;
}
#nav-section .nav-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-section .nav-container .bars {

  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  display: none;
  }
 #currentTime ,
    #nav-section .nav-container .logo h3 {
    color: var(--logo-color);
    font-family: var(--logo-font);
    font-size: 1.7rem;
    margin-left: 20px;
  }
  /*
#nav-section .nav-container ul {
  display: flex;
}
#nav-section .nav-container ul li {
  list-style: none;
  margin: 0 15px;
}
#nav-section .nav-container ul li a {
  font-size: 1.2rem;
  font-weight: 600;
}
.sideBar{
  display: none;
} */
/* hero-section */

#hero-section {
  width: 100%;
  padding: 2rem;
}
#hero-section .hero-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-top: 110px;
}
#hero-section .hero-container .textBox {
  margin-top: 30px;
  margin-left: 160px;
}
#hero-section .hero-container .textBox h1 {
  font-size: 5.5rem;
  font-weight: 800;
  margin: 0;

  /* width: 300px; */
}
#hero-section .hero-container .textBox h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--logo-color);
}
#hero-section .hero-container .textBox p {
  font-size: 1.3rem;
  color: #1b263b;
  width: 500px;
}
#hero-section .hero-container .illustration {
  margin-top: 40px;
}
#hero-section .hero-container a {
  display: inline-block;
  box-shadow: 0 0 1rem #00000034;
  padding: 15px 30px;
  color: white;
  background-color: var(--logo-color);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  transition: background 0.8s, border 0.8s;
  cursor: pointer;
}
#hero-section .hero-container a:hover {
  background: none;
  border: 1px solid var(--logo-color);
  color: black;
}
/* About section  */
#about-section {
  width: 100%;
  background-color: #1b263b;
}
#about-section .about-container {
  padding: 2rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

#about-section .about-container h1.label {
  color: #0066ff;
  margin: 10px 40px;
}
#about-section .about-container .textBox {
  padding: 2rem;
  background-color: var(--bg-color);
  width: 70%;
  height: 450px;
  box-shadow: 1rem 1rem 5rem #0000001a;
  border-radius: 20px;
  margin-top: 50px;
}
#about-section .about-container .textBox h1 {
  color: var(--logo-color);
  text-align: center;
}
#about-section .about-container .textBox P {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
#about-section .about-container .textBox .stacks {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-top: 20px;
}
#about-section .about-container .textBox .stacks div {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem #00000034;
  border: 2px solid #fff;
  text-align: center;
  color: var(--logo-color);
  font-size: 1rem;
  transition: all 0.8s;
}
#about-section .about-container .textBox .stacks div:hover {
  box-shadow: none;
}
#about-section .about-container .img {
  position: absolute;
  top: 50px;
  left: 170px;
}
#about-section .about-container .img img {
  border-radius: 100px;
  border: 2px solid var(--logo-color);

  box-shadow: 1rem 1rem 5rem #0000001a;
  padding: 3px;
}
#about-section .about-container .bottomBtn {
  display: block;
  box-shadow: 0 0 1rem #00000034;
  padding: 15px 30px;
  color: white;
  background-color: var(--logo-color);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  margin: 30px auto;
  cursor: pointer;
  text-align: center;
  transition: background 0.8s, border 0.8s;
}
#about-section .about-container .bottomBtn:hover {
  background: none;
  border: 1px solid var(--logo-color);
  color: black;
}
/* GOALS SECTION  */
#goal-section {
  width: 100%;
}
#goal-section .goal-container {
  padding: 2rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  position: relative;
  margin-bottom: 60px;
}
#goal-section .goal-container h1 {
  margin-left: 10px;
  color: var(--logo-color);
}
#goal-section .goal-container .top-text h3 {
  text-align: center;
  margin: 20px;
  font-size: 1.5rem;
}
#goal-section .goal-container .top-text h3 span {
  color: var(--logo-color);
}
#goal-section .goal-container .goals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#goal-section .goal-container .goals .goal {
  box-shadow: 0 0 1rem #00000034;
  padding: 1.5rem;
  height: 170px;
  width: 350px;
  border-radius: 10px;
  transition: all 0.8s;
  border: 1px solid #fff;
}
#goal-section .goal-container .goals .goal:hover {
  box-shadow: none;
}
#goal-section .goal-container .goals .goal h3 {
  margin-top: 5px;
  color: var(--logo-color);
  text-align: center;
}
#goal-section .goal-container .goals .goal p {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
}

/* contact section */

#contact-section {
  width: 100%;
}
#contact-section .contact-container {
  padding: 2rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  position: relative;
  margin-bottom: 60px;
}
#contact-section .contact-container h1 {
  color: var(--logo-color);
}
#contact-section .contact-container  a {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem #00000034;
  border: 2px solid #fff;
  text-align: center;
  color: var(--logo-color);
  font-size: 1rem;
  transition: all 0.8s;
  display: block;
}

/* Fun Links */
#fun-links {
  width: 100%;
}
#fun-links .link-container{
  padding: 2rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  position: relative;
  margin-bottom: 60px;
}
#fun-links .link-container  h1{
  color: var(--logo-color);
}
#fun-links .link-container a {
  background-color: #f7f7f7;
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem #00000034;
  border: 2px solid #fff;
  text-align: center;
  color: var(--logo-color);
  font-size: 1rem;
  transition: all 0.8s;
  display: block;
  margin: 20px;
}